{% extends "calculator/base.html" %}

{% load crispy_forms_tags %}

{% block content %}
<main role="main" class="container">
	<div class="row justify-content-md-center">

		<!-- Sign In -->
    <div class="col-md-6">
    	<div class="row justify-content-md-center content-section text-center">
			<form method="POST">
				{% csrf_token %}
				<fieldset class="form-group">
					<legend class="border-bottom mb-2">Add a rental unit</legend>
					<div class= "text-left">
						{{ form|crispy }}
					</div>
				</fieldset>
				<div class="form-group">
					<button class = "btn btn-outline-info" type="submit">Add</button>
				</div>
			</form>

		</div>
	</div>
</main>

	
{% endblock content %}